


<style>
.owl-item {
	width: 290px !important;
}

#slides_control > div{
  height: 200px;
} 
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
 margin-left:-200px;
}
</style>
<div ng-controller="dashboardctrl">

	<div id="layerslider" style="width: 100%; height: 500px;">
		<!-- First slide -->
		<div class="ls-slide"
			style="slidedirection: right; transition2d: 92, 93, 105;">
			<img src="./assets/img/sliders/A.jpg" class="ls-bg"
				alt="Slide background"> <span class="ls-s-1"
				style="color: #fff; line-height: 45px; font-weight: 200; font-size: 30px; top: 100px; left: 50px; slidedirection: top; slideoutdirection: bottom; durationin: 1000; durationout: 1000;">

			</span> <a class="btn-u btn-u-green ls-s-1" href="#"
				style="padding: 9px 20px; font-size: 25px; top: 220px; left: 50px; slidedirection: bottom; slideoutdirection: bottom; durationin: 2000; durationout: 2000;">
				பதிவு செய்ய / Registration</a> <img
				src="./assets/img/sliders/bcouple.png" alt="Slider Image"
				class="ls-s-1"
				style="top: 30px; left: 670px; slidedirection: right; slideoutdirection: bottom; durationin: 3000; durationout: 3000;">
		</div>
		<!-- End First slide -->

		<!-- Second Slide -->
		<div class="ls-slide" data-ls="slidedelay:4500; transition2d:25;">
			<img src="./assets/img/sliders/C.jpg" class="ls-bg"
				alt="Slide background" /> <img class="ls-l"
				src="./assets/img/sliders/ccouple.png" style="top: 85%; left: 44%;"
				data-ls="offsetxin:left; durationin:1500; delayin:900; fadein:false; offsetxout:left; durationout:1000; fadeout:false;" />
  		</div>
		<!-- End Second Slide -->

		<!-- Third Slide -->
		<div class="ls-slide" data-ls="transition2d:93;">
			<img src="./assets/img/sliders/B.jpg" class="ls-bg"
				alt="Slide background"> <i
				class="fa fa-chevron-circle-right ls-s-1"
				style="color: #fff; font-size: 24px; top: 70px; left: 40px; slidedirection: left; slideoutdirection: top; durationin: 1500; durationout: 500;"></i>

			<span class="ls-s-2"
				style="color: #fff; font-weight: 200; font-size: 22px; top: 70px; left: 70px; slidedirection: top; slideoutdirection: bottom; durationin: 1500; durationout: 500;">
				பதிவு இலவசம் </span> <i class="fa fa-chevron-circle-right ls-s-1"
				style="color: #fff; font-size: 24px; top: 120px; left: 40px; slidedirection: left; slideoutdirection: top; durationin: 2500; durationout: 1500;"></i>

			<span class="ls-s-2"
				style="color: #fff; font-weight: 200; font-size: 22px; top: 120px; left: 70px; slidedirection: top; slideoutdirection: bottom; durationin: 2500; durationout: 1500;">
				முக்குலத்தோருக்கு மட்டும் </span> <i
				class="fa fa-chevron-circle-right ls-s-1"
				style="color: #fff; font-size: 24px; top: 170px; left: 40px; slidedirection: left; slideoutdirection: top; durationin: 3500; durationout: 3500;"></i>

			<span class="ls-s-2"
				style="color: #fff; font-weight: 200; font-size: 22px; top: 170px; left: 70px; slidedirection: top; slideoutdirection: bottom; durationin: 3500; durationout: 2500;">
				1000+ ஜாதகம் </span>
			 
			<a class="btn-u btn-u-blue ls-s1" href="#"
				style="padding: 9px 20px; font-size: 25px; top: 340px; left: 40px; slidedirection: bottom; slideoutdirection: bottom; durationin: 6500; durationout: 3500;">
				பதிவு செய்ய / Registration</a> <img
				src="./assets/img/sliders/acouple.png" alt="Slider Image"
				class="ls-s-1"
				style="top: 30px; left: 650px; slidedirection: right; slideoutdirection: bottom; durationin: 1500; durationout: 1500;">
		</div>
		<!-- Third Slide -->
	</div>
	<!--/layer_slider-->
	<!--=== End Slider ===-->

	<!--=== Call to Action ===-->
	<div class="call-action-v1 bg-color-light">
		<div class="container" style="padding-bottom: 15px;">
			<div class="call-action-v1-box" style="padding:15px 0">    
				<div class="call-action-v1-in" style="text-align: center;">
					<h1>SandhiyaMatrimony - a best matrimony for Devar Community</h1>
				</div>  				
			</div> 
			<div class="call-action-v1-in inner-btn page-scroll" style="    display: contents">
 				<div
					style="   text-align: center;">
					<p>
						<a href="#/registration"
							class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-block">REGISTER
							TODAY</a> (OR) <img src="assets/img/whatsapp.png" width="30"
							style="padding-right: 10px; padding: 5px;">வாட்ஸ் அப் <span
							style="color: #ee0c6e; font-weight: 700; font-size: 17px;">
							&nbsp;8883899009,9489638388</span>&nbsp;&nbsp;மூலமாக உங்கள் போட்டோ &amp;
						பயோடேட்டாவை அனுப்பலாம்
					</p>
				</div>   
 			</div> 
 			 
		</div>
	</div>
	<!--=== End Call to Action ===-->   

	<!--=== Content Part ===-->
	<div class="container content">
		<div class="margin-bottom-10"></div>
		<!-- Service Blocks -->
		<div class="headline">  
			<h2>VIP Profiles</h2>
		</div>
		<div class="row content-boxes-v2 margin-bottom-30">   
 			
  			<div class="col-md-offset-3 col-md-6"> 
		      <carousel interval="myInterval">  
		        <slide ng-repeat="sliderlist in sliderlist" >
		          <img class="img-responsive" ng-src="./OpenFile?r1=serverpath&r2={{sliderlist.imagepath}}" style="width:400px;height:400px;margin:auto;">
 		        <div class="carousel-caption">
		            <h4 style="color: white;">{{sliderlist.registerno}}</h4>
		          </div> 
 		        </slide>  
		      </carousel>     
		    </div>
 			 
 		</div>       
		<!-- End Service Blokcs -->

		<!-- End Recent Works -->
		<div class="headline">
			<h2>Latest Profiles</h2>
		</div>
		<div class="row margin-bottom-20 "
			cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
			<div class="col-md-3 col-sm-6 owl-slider" ng-repeat="cd in  recentlist">
				<div class="thumbnails thumbnail-style thumbnail-kenburn">
					<div class="thumbnail-img">
						<div class="overflow-hidden item ">
							<img class="img-responsive"
								src="./OpenFile?r1=serverpath&r2={{cd.photo}}" alt=""
								style="width: 240px; height: 250px;">
						</div>
						<!-- <a class="btn-more hover-effect" href="" ng-click="readMore($index)">read more +</a>  -->
					</div>
					<div class="caption">
						<h3>
							<a class="hover-effect" href="" ng-click="readMore($index)">{{cd.registerno}}</a>
						</h3>
					</div>
				</div>
			</div>
		</div>
		<!-- Info Blokcs -->
		<div class="row margin-bottom-20">
			<!-- Welcome Block -->
			<div class="col-md-12 md-margin-bottom-40">
				<div class="headline">
					<h2>Welcome To Devar Matrimony</h2>
				</div>
				<div class="row">
					<div class="col-md-2">
						<img class="img-responsive margin-bottom-20" 
							src="./assets/img/main/devar.jpg" alt="">
					</div>
					<div class="col-md-10">   
						<p>முக்குலத்தோர் உறவுகள் அனைவருக்கும் வணக்கம்...
நமது சமுதாயத்தில் முன்பு போல் திருமணம் செய்வது எளிதான காரியம் இல்லை. காரணம் நம் சமுதாய மக்கள் தங்களது குடும்பம், தொழில் மற்றும் நாகரிக வளர்ச்சி காரணமாக பல்வேறு இடங்களில் தற்போது வாழ்கின்றனர். ஆதாலால் நம் சமுதாய உறவுகளுக்குள் பெரிய இடைவெளி ஏற்பட்டுள்ளது. இதனால் மணமகன், மணமகள் தேடுவதில் பெரிய சிரமம் ஏற்பட்டுள்ளது. இதை கருத்தில் கொண்டு சமுதாய உணர்வுடன் தொடங்கப்பட்டது தான் இந்த சந்தியா முக்குலத்தோர் திருமண தகவல் மையம். எனது பெயர் M.நாராயணன்,எனது சொந்த ஊர் மதுரை அருகில் உள்ள அரசகுளம்.
 உங்களது அன்பையும் ஆதரவையும் எனக்கு அளிக்குமாறு அன்புடன் வேண்டி விரும்பி கேட்டுக்கொள்கிறேன்.</p>
						 
					</div>
				</div>

				 
			</div>
			
	 
		</div>
		
		 <div class="headline">  
			<h2>Success story</h2>
		</div>
		<div class="row content-boxes-v2 margin-bottom-30">    
		    
		    <div class="margin-bottom-40">
                    <div id="testimonials-1" class="carousel slide testimonials testimonials-v1">
                        <div class="carousel-inner" style="margin-bottom: 10px;" ng-repeat="sliderlist in succesStorylist">
                            <div class="item active" >
                                <p>{{sliderlist.description}}</p>
                                <div class="testimonial-info"> 
                                    <img class="rounded-x" src="./OpenFile?r1=serverpath&r2={{sliderlist.imagepath}}" alt="">
                                    <span class="testimonial-author">
                                        {{sliderlist.name}}
                                     </span>
                                </div>
                            </div> 
                        </div>
                     </div>
                </div>
		 </div>
		 <div class="row margin-bottom-20" style="text-align: center">
		 <div id="appdownload" class="card" style="padding: 30px;">
		 <h4 style="color: rgb(174 3 174);">Download Our Sandhiya Matrimony App</h4>
		 <div class="" style="display: flex; align-items: center; justify-content: center; cursor: pointer; margin-bottom: 0px;">
		 <a href="https://play.google.com/store/apps/details?id=com.dn.matrimoni" target="_blank" rel="noopener noreferrer">
		 <img src="assets/img/google-play.svg" alt="Download App" height="60" style="margin-left: 10px;"></a></div></div>
		 </div>
  		</div>      
		<!--/row-->
		<!-- End Info Blokcs -->
		<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
		<div class="modal-content">
		    <div class="modal-header">
				<button type="button" class="close" ng-click="ok()"  data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel4">Important Message</h4>
  				    
			</div> 
			<div class="modal-body" >
				 
				<div class="row">  
					<div class="col-sm-12 col-md-12">   
 						<div class="col-sm-12"> 
							 <img  class="img-responsive" src="assets/img/notice.jpeg" style="width:550px;height:500px" alt="">
 						</div>
 					</div> 
 				</div> 
			</div>  
			 
			<div class="modal-footer">
				<button type="button" class="btn-u btn-u-default"
					data-dismiss="modal" ng-click="ok()" >Close</button> 
 			</div>
		</div>
		</div>
		
	</div> 
</div>

