<!-- <div class="row">
	<img src="images/Happy New year 2020.jpg">
	<input type="text" ng-model="name">
 </div>       -->
<style>
.textalign{
  margin-top:10px;
  padding-left:35px
}
h4{
font-size: 14px
}
.listings-grid__body{ 
padding:5px;
margin:5px; 
}
</style> 

<div class="container content" ng-controller="homecontroller">
	<div class="row">   
		<div class="col-md-3">  
			<a href="#/home/HappyNewyear2020"> <img src="images/HappyNewyear2020.jpg" style="width:225px;height:225px">  
			<div class="listings-grid__body"> <h4>Advance Happy New Year 2020 wishes with name</h4> </div>  </a>
		</div>
		<div class="col-md-3"> 
			<a href="#/home/happynewyear2020-1"><img src="images/happynewyear2020-1.jpg" style="width:225px;height:225px">
			<div class="listings-grid__body"> <h4>Happy New Year 2020 wishes with name</h4> </div>			</a>
		</div>
		<div class="col-md-3">
			<a href="#/home/happynewyear2020-2"><img src="images/happynewyear2020-2.jpg" style="width:225px;height:225px">
			<div class="listings-grid__body"> <h4>Family and friends Wishes Happy New Year 2020 wishes with name</h4> </div></a>			
 		</div>
		<div class="col-md-3">
			<a href="#/home/happynewyear2020-3"><img src="images/happynewyear2020-3.jpg" style="width:225px;height:225px">
			<div class="listings-grid__body"> <h4>Greetings Happy New Year 2020 wishes with name</h4> </div>	</a>		
		</div>
 	</div>
	 <div class="row">
		<div class="col-md-3">
			<a href="#/home/happynewyear2020-4"><img src="images/happynewyear2020-4.jpg" style="width:225px;height:225px">   
			<div class="listings-grid__body"> <h4>Online Writing Your Name on New Year Wishings</h4> </div>			
		</div>
		<div class="col-md-3"> 
			<a href="#/home/happynewyear2020-5"><img src="images/happynewyear2020-5.jpg" style="width:225px;height:225px">
			<div class="listings-grid__body"> <h4>New year wishes to lover with name</h4> </div>			</a>
		</div> 
		<div class="col-md-3">
			<a href="#/home/happynewyear2020-6"><img src="images/happynewyear2020-6.jpg" style="width:225px;height:225px">
		    <div class="listings-grid__body"> <h4>New year wishes to family and friends with name</h4> </div>		</a>	
		</div>
		<div class="col-md-3">
			<a href="#/home/happynewyear2020-7"><img src="images/happynewyear2020-7.jpg" style="width:225px;height:225px">
			<div class="listings-grid__body"> <h4>Advance Happy New Year 2020 wishes with name</h4> </div>		</a>	
		</div>
 	</div>
 	<div class="row">
		<div class="col-md-3">
			<a href="#/home/happynewyear2020-8"><img src="images/happynewyear2020-8.jpg" style="width:225px;height:225px"> 
			<div class="listings-grid__body"> <h4> Happy New Year 2020 wishes with name</h4> </div>			</a>
 		</div>
		<div class="col-md-3"> 
			<a href="#/home/happynewyear2020-9"><img src="images/happynewyear2020-9.jpg" style="width:225px;height:225px">
			<div class="listings-grid__body"> <h4>Happy New Year 2020 wishes with name</h4> </div>			</a>
 		</div>
		<div class="col-md-3">
			<a href="#/home/happynewyear2020-10"><img src="images/happynewyear2020-10.jpg" style="width:225px;height:225px">
			<div class="listings-grid__body"> <h4> Happy New Year 2020 wishes with greetings</h4> </div>			</a>
 		</div>
		<div class="col-md-3">
			<a href="#/home/happynewyear2020-11"><img src="images/happynewyear2020-11.jpg" style="width:225px;height:225px">
			<div class="listings-grid__body"> <h4> Happy New Year 2020 wishes with messages</h4> </div>			</a>
 		</div>
 	</div>
    <div class="row">
		<div class="col-md-3">
			<a href="#/home/happynewyear2020-12"><img src="images/happynewyear2020-12.jpg" style="width:225px;height:225px">
			<div class="listings-grid__body"> <h4>Whatsapp share Happy New Year 2020 wishes with name</h4> </div>	</a>		
 		</div>
		<div class="col-md-3"> 
			<a href="#/home/happynewyear2020-13"><img src="images/happynewyear2020-13.jpg" style="width:225px;height:225px">
			<div class="listings-grid__body"> <h4>Happy New Year 2020 quotes with name</h4> </div>			</a>
 		</div>
		<div class="col-md-3">
			<a href="#/home/happynewyear2020-14"><img src="images/happynewyear2020-14.jpg" style="width:225px;height:225px">
			<div class="listings-grid__body"> <h4>Online wishes Happy New Year 2020 wishes with name</h4> </div>	</a>		
 		</div>   
		<div class="col-md-3">
			<a href="#/home/happynewyear2020-15"><img src="images/happynewyear2020-15.jpg" style="width:225px;height:225px">
			<div class="listings-grid__body"> <h4> Happy New Year 2020 wishes with name</h4> </div>	</a>		
		</div>
 	</div>     
</div>
