
<link href="./assets/css/sky-forms.css" rel="stylesheet">
<link href="./assets/css/custom-sky-forms.css" rel="stylesheet">

<style>
ol.carousel-indicators li {
	border: 1px solid darkgray;
}

.content {
	padding-top: 30px;
}

.tbl {
	border: 1px cadet blue;
	height: 80px;
	width: 115px;
	text-align: center
}

div .row {
	padding-top: 10px;
}

div.transbox {
	margin: 30px;
	background-color: #ffffff;
	box-shadow: 4px 15px 15px #888888;
} /* //for background */
.textbox1 {
	height: 30px;
}

small.help-block {
	color: red;
}

.control-label {
	margin-left: 10px;
}

.plan-name-bronze {
	padding: 13px;
	color: #fff;
	background-color: #1e4166;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 30px;
	width: 400px;
}

ul.pagination>li>a {
	margin-right: 0px;
}

/* .pagination {
	margin-left: 324px;
} */

@media screen {
	#printSection {
		display: none;
	}
}

@media print {
	body * {
		visibility: hidden;
	}
	#printSection, #printSection * {
		visibility: visible;
	}
	#printSection {
		position: absolute;
		left: 0;
		top: 0;
	}
	@page :first {
		margin-top: 2cm
	}
	@page :left {
		margin-left: 2cm;
		margin-right: 2cm;
	}
	@page :right {
		margin-left: 2cm;
		margin-right: 2cm;
	}
	@page {
		page-break-after: auto;
	}
}
.tablecls{
font-size: 12px; margin-left: 10px; margin-bottom: 10px;
}   

.boxshadow{ 
box-shadow: 0 2px 10px rgb(0 0 0 / 12%);
width: 85%;
margin-top: 10px;
}
 .paddingresponse{
 padding:0px
 }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    div.transbox {
	margin: 0px;
	width:100%;
	background-color: #ffffff;
	box-shadow: 4px 15px 15px #888888;
}
    td.col_1{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;       
    }  
    .tablecls{ 
    font-size: 12px; margin-left: 0px; margin-bottom: 10px;
    }
    .pagination {
	margin-left: 40px;
	}
	.boxshadow{ 
	box-shadow: 0 2px 10px rgb(0 0 0 / 12%);
	width: 100%;
	margin-top: 10px;
	margin-right:0px;
	margin-left:0px;
	}
	 .paddingresponse{
 padding:15px
 }
}
@media (max-width: 767px){
.block--style-3.list .block-title-wrapper {
    border-left: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.boxshadow{ 
	box-shadow: 0 2px 10px rgb(0 0 0 / 12%);
	width: 100%;
	margin-top: 10px;
	margin-right:0px;
	margin-left:0px;
	}
	 .paddingresponse{
 padding:15px
 }
}
.list-inline1 {
    /* padding-left: 0; */
    /* margin-left: -5px; */
    list-style: none; 
}
</style>
<div class="breadcrumbs">
	<div class="container">
		<h1 class="">
			<i class="fa fa-search"></i> தேடல் / Search
		</h1>
	</div>
</div>
<div class="bg-white">
	<div class="container content " ng-controller="searchctrl"
		cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">


		<div class="transbox" ng-show="nonfulldetails">
			<div class="tab-v1">
				<ul class="nav nav-tabs" ng-init="tab = 1">
					<li ng-class="{ active:tab===1 }"><a href=""
						ng-click="tab = 1" data-toggle="tab" aria-expanded="false">MEMBER
							ID </a></li>
					<li ng-class="{ active:tab===2 }"><a href=""
						ng-click="tab = 2" data-toggle="tab" aria-expanded="true">EDUCATION
					</a></li>
					<li ng-class="{ active:tab===3 }"><a href=""
						ng-click="tab = 3" data-toggle="tab" aria-expanded="true">ADVANCED</a></li>
						
	               <!--  <li ng-class="{ active:tab===4 }"><a href=""
						ng-click="tab = 4" data-toggle="tab" aria-expanded="true">INCOME</a></li> -->
						
					<!-- 	<li ng-class="{ active:tab===5 }"><a href=""
						ng-click="tab = 5" data-toggle="tab" aria-expanded="true">JOB</a></li>
						<li ng-class="{ active:tab===7 }"><a href=""
						ng-click="tab = 7" data-toggle="tab" aria-expanded="true">HEIGHT</a></li>
					 <li ng-class="{ active:tab===8 }"><a href=""
						ng-click="tab = 8" data-toggle="tab">KEYWORD</a></li>-->
						
						<li ng-class="{ active:tab===4 }"><a href=""
						ng-click="tab = 4" data-toggle="tab" aria-expanded="true"> JOB LOCATION</a></li>
						<li ng-class="{ active:tab===5 }"><a href=""
						ng-click="tab = 5" data-toggle="tab" aria-expanded="true">INCOME</a></li>
						<li ng-class="{ active:tab===6 }"><a href=""
						ng-click="tab = 6" data-toggle="tab" aria-expanded="true">HEIGHT</a></li>
						<li ng-class="{ active:tab===7 }"><a href=""
						ng-click="tab = 7" data-toggle="tab" aria-expanded="true">JOB TYPE</a></li>
						
					 <li ng-class="{ active:tab===8 }"><a href=""
						ng-click="tab = 8" data-toggle="tab">LOCATION</a></li>
						<li ng-class="{ active:tab===9 }"><a href=""
						ng-click="tab = 9" data-toggle="tab">JOB SECTOR</a></li>
						  
					
					<!-- <li ng-class="{ active:tab===5 }"><a href=""
						ng-click="tab = 5" data-toggle="tab">LOCATION</a></li>
					<li ng-class="{ active:tab===6 }"><a href="" 
						ng-click="tab = 6" data-toggle="tab">ADVANCED</a></li> -->
				</ul>

				<div class="tab-content">
					<div class="tab-pane fade active in">
						<form action="#" class="form-horizontial">
							<fieldset>
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-2"></div>

										<div class="col-md-8"
											style="border: 1px solid #EAE8E8; box-shadow: 5px 5px 5px #888888; border-radius: 12px;">
											<div class="row">
												<div class="col-md-12 "
													style="font-size: 19px; background-color: #228B22; border-top-left-radius: 12px; border-top-right-radius: 12px; min-height: 43px; margin-top: -10px;">
													<font color="#ffffff">Personal Details</font>
												</div>
												<div class="col-md-12" style="margin-top: 17px;"></div>
												<div class="row" ng-show="(tab!=1)">
													<section>
														<div class="form-group">
															<label class="col-md-5 " style="margin-left: 10px;">பாலினம்</label>
															<div class="col-md-2" style="margin-left: 25px;">
																<label class="radio state-success"><input
																	ng-model="serarchData.gender" type="radio" name="radio"
																	value="ஆண்"><i class="rounded-x"></i>ஆண்</label>
															</div>
															<div class="col-md-2">
																<label class="radio state-success"><input
																	ng-model="serarchData.gender" type="radio" name="radio"
																	value="பெண்"><i class="rounded-x"></i>பெண்</label>
															</div>
														</div>
													</section>

													<div class="col-md-2"></div>
												</div>
												<!-- gender row -->
												<div class="row" ng-show="(tab === 1)">
													<section>
														<label class="col-md-4 control-label">Member Id</label>
														<div class="col-md-6">
															<input type="text" ng-model="serarchData.memberid"
																class="form-control input-sm required textbox1"
																name="member">
														</div>
													</section>
													<div class="col-md-2"></div>
												</div>
												<!-- member row -->
												<div class="row" ng-show="(tab!=1)">
													<Section>
														<div class="col-md-5">
															<label class="control-label">வயது
																 (<span id="slider2-value1-rounded" style="width:2px;">18</span> - <span
																id="slider2-value2-rounded">50 </span>)
															</label>
								
															
														</div>
														<div class="form-group">
															<div class="col-md-6" style='margin-left: 10px;'>
																<input type="number" ng-model="serarchData.agefrom" style="width:70px;">
																<span> &nbsp; &nbsp; To  &nbsp; &nbsp;   </span>
																<input type="number" ng-model="serarchData.ageto" style="width:70px;">
																
															</div>
													</Section>
												</div>
												<!--  age -->
												<div class="row" ng-show="(tab!=1)">
													<section>
														<label class="col-md-5 control-label">ஜாதி
															உட்பிரிவு</label>
														<div class="form-group">
															<div class="col-md-6">
																<select class="form-control select" name="subcaste"
																	ng-model="serarchData.subcaste" required>
																	<option value="">-தேர்வு செய்யவும்-</option>
																	<option ng-repeat="scas in filter_caste"
																		value="{{scas.subcasteid}}">{{scas.subcastename}}</option>
																</select>
 															</div>         
														</div>
													</section>
													<div class="col-md-2"></div>
												</div>
												 
												<div class="row" ng-show="(tab!=1 && tab!=4)">
													<section>
														<label class="col-md-5 control-label">கல்வி தகுதி
														</label>
														<div class="form-group">
															<div class="col-md-6">
																<select class="form-control select"
																	ng-init="serarchData.education.value='0'" name="elevel"
																	ng-options=" ed.label disable when (ed.value == 0) for ed in _data.education track by ed.value"
																	ng-model="serarchData.education" required>
																</select>

															</div>
														</div>
													</section>
													<div class="col-md-2"></div>
												</div>

												<!-- education -->

												<div class="row" ng-show="(tab===3 && tab !=1)">
													<section>
														<label class="col-md-5 control-label">திருமண நிலை
														</label>
														<div class="form-group">
															<div class="col-md-6">

																<select class="form-control select"
																	ng-init="serarchData.merital.value='0'" 
																	name="marital"
																	ng-options="ed.label disable when (ed.value == 0) for ed in [{value:'0',label:'-தேர்வு செய்யவும்-'},{value:'திருமணமாகதவர்',label:'திருமணமாகதவர்'},{value:'மறுமணம்',label:'மறுமணம்'}] track by ed.value"
																	ng-model="serarchData.merital">
																</select>


															</div>

														</div>
													</section>
													<div class="col-md-2"></div>
												</div>
													
												<!-- education -->

												<div class="row" ng-show="(tab===3 && tab !=1)">
													<section>
														<label class="col-md-5 control-label">ராசி </label>
														<div class="form-group">
															<div class="col-md-6">
																<select class="form-control select" name="rasi"
																	ng-init="serarchData.rasi.value='0'"
																	ng-options=" rasi.label disable when (rasi.value == 0) for rasi in _data.rasi track by rasi.value"
																	ng-model="serarchData.rasi"
																	ng-change="getStar(serarchData.rasi.value)">
																</select> <i></i>
															</div>
														</div>
													</section>
													<div class="col-md-2"></div>
												</div>
												<div class="row" ng-show="(tab===3 && tab !=1)">
													<section>
														<label class="col-md-5 control-label">நட்சத்திரம்
														</label>
														<div class="form-group">
															<div class="col-md-6">
																<select class="form-control select"
																	ng-init="serarchData.star.value='0'" name="star"
																	ng-options=" star.label disable when (star.value == 0) for star in _data.star1 track by star.value"
																	ng-model="serarchData.star"></select> 
															</div>
														</div>

													</section>
													<div class="col-md-2"></div>
												</div>
												
												
												<div class="row" ng-show="(tab===5 && tab !=1)">
													<section>
													
														<div class="col-md-5">
															<label class="control-label">மாத வருமானம் 
																 
															</label>
								
															</div>
															
																<div class="form-group">
															<div class="col-md-6">
															
																 
																
																<input type="number" ng-model="serarchData.income1">
																<span>To</span>
																<input type="number" ng-model="serarchData.income2">
																
															</div>
															</div>
															
													</Section>
															<div class="col-md-2"></div>
														</div>	
															
										
												
												<div class="row" ng-show="(tab===4 && tab !=1)">
													<section>
														<label class="col-md-5 control-label">பணிபுரியும் ஊர்</label>
														<div class="form-group">
															<div class="col-md-6">
															
																<select class="form-control select" name="wplace"
																	ng-model="serarchData.wplace" required>
																	<option value="">-தேர்வு செய்யவும்-</option>
																	<option ng-repeat=" wplace in filter_workplace"
																		value="{{wplace.workplaceid}}">{{wplace.workplacename}}</option>
																</select>
														</div>
														</div>
													</section>
													<div class="col-md-2"></div>
												</div>
												
												
												<div class="row" ng-show="(tab===6 && tab !=1)">
													<section>
														<label class="col-md-5 control-label">உயரம் (செ.மீ)
														</label>
														<div class="form-group">
															<div class="col-md-6">
																<!-- <select class="form-control select"
																	ng-init="serarchData.height1.value='0'" name="height"
																	ng-options=" hei.label disable when (hei.value == 0) for hei in _data.height track by hei.value"
																	ng-model="serarchData.height1" required>
																</select> -->
																<input type="text" ng-model="serarchData.height1" style="width:70px;">
																<span> &nbsp; &nbsp; To  &nbsp; &nbsp;   </span>
																<input type="text" ng-model="serarchData.height2" style="width:70px;">
																
 															</div>
														</div>
													</section>
													
 													<div class="col-md-2"></div>
												</div>
												
										
										
												<div class="row" ng-show="(tab===7 && tab !=1 && tab>6)">
													<section>
														<label class="col-md-5 control-label"> வேலை  </label>
														<div class="form-group">
															<div class="col-md-6">
															
															
															<select class="form-control select"
																	ng-init="serarchData.jobtype.value='0'" name="jobtype"
																	ng-options=" jobtype.label disable when (jobtype.value == 0) for jobtype in _data.jobtype track by jobtype.value"
																	ng-model="serarchData.jobtype"></select> 
															
															
														</div>
														</div>
													</section>
													<div class="col-md-2"></div>
												</div>
												
												
												 <div class="row" ng-show="(tab===8 && tab !=1 && tab>7)">
													<section>
														<label class="col-md-5 control-label"> நாடு</label>
														<div class="form-group">
															<div class="col-md-6">
															
															
															<select class="form-control select" name="country"
																	ng-model="serarchData.country" required>
																	<option value="">-தேர்வு செய்யவும்-</option>
																	<option ng-repeat="country in filter_country"
																		value="{{country.countryid}}">{{country.countryname}}</option>
																</select>
															
														</div>
														</div>
													</section>
													<div class="col-md-2"></div>
												</div> 
												<div class="row" ng-show="(tab===8 && tab !=1 && tab>7)">
													<section>
														<label class="col-md-5 control-label">இருப்பிடம் </label>
														<div class="form-group">
															<div class="col-md-6">
															
 															<select name="residence" class="form-control select"
																ng-model="serarchData.residence"  >
																	<option value="">-தேர்வு செய்யவும்-</option>
																	<option ng-repeat="residence in filter_residence"
																		value="{{residence.residenceid}}">{{residence.residencename}}</option>
															</select> 
															
															</div>
														</div>
													</section>
													<div class="col-md-2"></div>
												</div> 
												<div class="row" ng-show="(tab===9 && tab !=1 && tab>7)">
													<section>
														<label class="col-md-5 control-label">துறை </label>
														<div class="form-group">
															<div class="col-md-6">
															
															
															
									
									<select class="form-control select"
																	ng-init="serarchData.jobsector.value='0'" 
																	name="jobsector"
																	ng-options="edd.label disable when (edd.value == 0) for edd in [{value:'0',label:'-தேர்வு செய்யவும்-'},{value:'IT',label:'IT'},{value:'NON-IT',label:'NON-IT'}] track by edd.value"
																	ng-model="serarchData.jobsector">
																</select>
															
														</div>
														</div>
													</section>
													<div class="col-md-2"></div>
												</div>
												
												
												
 												<div class="row" style="margin-top: 38px;">
													<div class="col-md-5"></div>
													<section><div class="col-md-6">
														<button type="button" style="background: 	#008000;"
															class="btn-u" ng-click="searchRecords()">Search</button>
													</div></section>
													<div class="col-md-4"></div>
												</div>
												
												<div class="col-md-4"></div>
											</div>
											<!-- border -->
										</div>
									</div>
									<!-- row -->
								</div>
							</fieldset>
						</form>
					</div>
				</div>
				<!-- tab content -->
			</div>
		</div>
		<div class="transbox">
			<div class="row" ng-show="fulldetails"> 

				<div class="col-md-12 col-sm-12"   
					style="font-size: 30px; color:#ffffff; background-color: #9d426b; border-top-left-radius: 20px; border-top-right-radius: 20px; min-height: 50px;"  >
					<font color="#ffffff">Search Details </font>
					<button type="button" class="btn-u pull-right"  style="margin-top:10px"
 					ng-click="back()">Back</button>    
				</div>
				<div class="col-md-12 col-sm-12  "     style="text-align: center;" >   
 				<pagination total-items="totalItems" ng-model="currentPage" 
					max-size="5" boundary-links="true" items-per-page="numPerPage"
					class="pagination-sm"> </pagination> 
				</div>	       
				<div class="col-md-10 col-sm-10 col-md-offset-2 " ng-repeat="srlt in searchResult  | filter : paginate" >
 					      
 								
 					<div class="row boxshadow" > 
 	 					<div class="col-md-3" > 
 	 						<img class="img-responsive"
									src="./OpenFile?r1=serverpath&r2={{srlt.photo}}" alt=""
									style=" height: 250px;">
	 					</div>
	 					<div class="col-md-6 paddingresponse"  >
	 						<table class="table-striped table-bordered mb-2 tablecls"
								style="">
								<tbody>
 											<tr>
												<td height="50" style="padding-left: 5px;" class="font-dark"><b
													style="font-size: 13px">பெயர் </b></td>
													<td height="50" style="padding-left: 5px;" class="font-dark" colspan="3"><a
													onclick="return goto_profile(59)" class="c-base-1"><b>{{srlt.name}}</b></a>
													<span class="badge badge-purple rounded-2x "  ng-show="srlt.paidstatus==1">Paid Member</span>
													<a ng-click="loginClick()"> <span class="label rounded-2x label-primary">View Profile</span> </i></a>
													<a ng-click="loginClick()"><span class="fa-stack fa-1x">
													  <i class="fa fa-circle fa-stack-2x"></i>
													  <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
													  <span class="badge badge-blue rounded-2x" style="position: relative; margin-left: 60%;margin-top: -60%;margin-bottom: 10px;">{{srlt.likedcount}}</span>
													</span></a>
												  </td>
											</tr> 
											<tr>
												<td height="30" style="padding-left: 5px;" class="font-dark"><b
													style="font-size: 13px">பதிவு எண்</b></td>
												<td height="30" style="padding-left: 5px;" class="font-dark"><a
													onclick="return goto_profile(59)" class="c-base-1"><b>{{srlt.registerno}}</b></a>
												</td>
												<td width="180" height="30" style="padding-left: 5px;"
													class="font-dark"><b style="font-size: 13px">உட்பிரிவு</b></td>
												<td width="180" height="30" style="padding-left: 5px;"
													class="font-dark">{{srlt.subcastename}}</td>
											</tr>
											<tr>
												<td width="180" height="30" style="padding-left: 5px;"
													class="font-dark"><b style="font-size: 13px">பிறந்த
														தேதி </b></td>
												<td width="180" height="30" style="padding-left: 5px;"
													class="font-dark">{{srlt.dateofbirth}}</td>
												<td width="180" height="30" style="padding-left: 5px;"><b
													style="font-size: 13px">கல்வி தகுதி </b></td>
												<td width="180" height="30" style="padding-left: 5px;"
													class="font-dark">{{srlt.education}}</td>
											</tr>
											<tr>
												<td width="180" height="30" style="padding-left: 5px;"
													class="font-dark"><b style="font-size: 13px"> வேலை</b></td>
												<td width="180" height="30" style="padding-left: 5px;"
													class="font-dark"><div ng-if="srlt.jobname!=null && srlt.jobname!='null' ">{{srlt.jobname}}</div>   
													<div ng-if="srlt.jobname==null || srlt.jobname=='null'">-</div></td> 
												<td width="180" height="30" style="padding-left: 5px;"><b
													style="font-size: 13px">பணிபுரியும் ஊர் </b></td>
												<td width="180" height="30" style="padding-left: 5px;"  
													class="font-dark"><div ng-if="srlt.workingplace!='null' && srlt.workingplace!='' ">{{srlt.workingplace}}</div><div ng-if="srlt.workingplace=='null' || srlt.workingplace=='' ">-</div> </td>
											</tr>
											<tr>
												<td width="180" height="30" style="padding-left: 5px;"  
													class="font-dark"><b style="font-size: 13px">மாத
														வருமானம் </b></td>  
												<td width="180" height="30" style="padding-left: 5px;"
													class="font-dark"><div ng-if="srlt.monthlyincome!='null' && srlt.monthlyincome!='' ">{{srlt.monthlyincome}}</div><div ng-if="srlt.monthlyincome=='null' || srlt.monthlyincome=='' ">-</div> </td>
												<td width="180" height="30" style="padding-left: 5px;"><b
													style="font-size: 13px">நட்சத்திரம்</b></td>
												<td width="180" height="30" style="padding-left: 5px;"
													class="font-dark">{{srlt.star}}</td>
											</tr>
											<tr>
												<td width="180" height="30" style="padding-left: 5px;"
													class="font-dark"><b style="font-size: 13px">குலதெய்வம்   
												</b></td>
												<td width="180" height="30" style="padding-left: 5px;"  
													class="font-dark"><div ng-if="srlt.kulatheivam!='null' && srlt.kulatheivam!='' ">{{srlt.kulatheivam}}</div><div ng-if="srlt.kulatheivam=='null' || srlt.kulatheivam=='' ">-</div> </td>
												<td width="180" height="30" style="padding-left: 5px;"><b
													style="font-size: 13px">தற்போதைய இருப்பிடம் </b></td>
												<td width="180" height="30" style="padding-left: 5px;"
													class="font-dark"><div ng-if="srlt.residence!='null' && srlt.residence!='' ">{{srlt.residence}} </div><div ng-if="srlt.residence=='null' || srlt.residence=='' ">-</div></td>
											</tr> 
									<tr>
										<td colspan="4"  class="col_1"  height="50" style="padding-left: 5px;text-align: center;"><span class="label rounded-4x label-warning" style="background-color:#72c02c;width:400px;height:400px">பணம்
									செலுத்தியவுடன் பயோடேட்டா, ஜாதகம், போட்டோ பார்த்துக் கொள்ளலாம்.</span>  
										</td> 
									</tr> 
 								</tbody>
							</table>
	 					</div>
	 				</div>
				</div>
				        
 				<!-- <div class="col-md-8 col-sm-8 col-md-offset-2 " ng-repeat="srlt in searchResult  | filter : paginate" >
					<div class="row margin-bottom-20">

						<div class="block-title-wrapper"
							style="border: 1px solid; border-color: rgba(0, 0, 0, 0.05); background: #fff; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12)">
							<div class="col-md-7 col-sm-7 margin-top-20">
								<h3 class="heading heading-5 text-uppercase strong-500 mt-4"
									style="text-align: left !important;"  >
									<a onclick="return goto_profile(59)" class="c-base-1">{{srlt.name}}
									</a> 
 								</h3>     
							</div>          
							<div class="col-md-5 col-sm-5 pull-right">
								<ul class="list-inline badge-lists badge-box-v1 margin-top-20 pull-right">
	                                <li>
	                                    <a ng-click="loginClick()"><i class="fa fa-heartbeat"></i></a>
	                                    <span class="badge badge-orange rounded-x">3</span>
	                                </li>
	                                <li>
	                                     <a ng-click="loginClick()"><i class="fa fa-thumbs-up"></i></a>
	                                    <span class="badge badge-blue rounded">{{srlt.likedcount}}</span>
	                                </li>
	                                <li>
	                                    <a ng-click="loginClick()">View Profile</i></a>       
 	                                </li>
                            	</ul>     
							</div>
 							<table class="table-striped table-bordered mb-2 tablecls"
								style="">
								<tbody>
								<tr>
								<td></td><td colspan="3"><span class="badge badge-purple rounded-2x pull-right"  ng-show="srlt.paidstatus==1">Paid Member</span></td>
								</tr>
									<tr>
												<td height="40" style="padding-left: 5px;" class="font-dark"><b
													style="font-size: 13px">பதிவு எண்</b></td>
												<td height="40" style="padding-left: 5px;" class="font-dark"><a
													onclick="return goto_profile(59)" class="c-base-1"><b>{{srlt.registerno}}</b></a>
												</td>
												<td width="180" height="40" style="padding-left: 5px;"
													class="font-dark"><b style="font-size: 13px">உட்பிரிவு</b></td>
												<td width="180" height="40" style="padding-left: 5px;"
													class="font-dark">{{srlt.subcastename}}</td>
											</tr>
											<tr>
												<td width="180" height="40" style="padding-left: 5px;"
													class="font-dark"><b style="font-size: 13px">பிறந்த
														தேதி </b></td>
												<td width="180" height="40" style="padding-left: 5px;"
													class="font-dark">{{srlt.dateofbirth}}</td>
												<td width="180" height="40" style="padding-left: 5px;"><b
													style="font-size: 13px">கல்வி தகுதி </b></td>
												<td width="180" height="40" style="padding-left: 5px;"
													class="font-dark">{{srlt.education}}</td>
											</tr>
											<tr>
												<td width="180" height="40" style="padding-left: 5px;"
													class="font-dark"><b style="font-size: 13px"> வேலை</b></td>
												<td width="180" height="40" style="padding-left: 5px;"
													class="font-dark"><div ng-if="srlt.jobname!=null && srlt.jobname!='null' ">{{srlt.jobname}}</div>   
													<div ng-if="srlt.jobname==null || srlt.jobname=='null'">-</div></td> 
												<td width="180" height="40" style="padding-left: 5px;"><b
													style="font-size: 13px">பணிபுரியும் ஊர் </b></td>
												<td width="180" height="40" style="padding-left: 5px;"  
													class="font-dark"><div ng-if="srlt.workingplace!='null' && srlt.workingplace!='' ">{{srlt.workingplace}}</div><div ng-if="srlt.workingplace=='null' || srlt.workingplace=='' ">-</div> </td>
											</tr>
											<tr>
												<td width="180" height="40" style="padding-left: 5px;"  
													class="font-dark"><b style="font-size: 13px">மாத
														வருமானம் </b></td>  
												<td width="180" height="40" style="padding-left: 5px;"
													class="font-dark"><div ng-if="srlt.monthlyincome!='null' && srlt.monthlyincome!='' ">{{srlt.monthlyincome}}</div><div ng-if="srlt.monthlyincome=='null' || srlt.monthlyincome=='' ">-</div> </td>
												<td width="180" height="40" style="padding-left: 5px;"><b
													style="font-size: 13px">நட்சத்திரம்</b></td>
												<td width="180" height="40" style="padding-left: 5px;"
													class="font-dark">{{srlt.star}}</td>
											</tr>
											<tr>
												<td width="180" height="40" style="padding-left: 5px;"
													class="font-dark"><b style="font-size: 13px">பூர்வீகம்   
												</b></td>
												<td width="180" height="40" style="padding-left: 5px;"  
													class="font-dark"><div ng-if="srlt.nativeplace!='null' && srlt.nativeplace!='' ">{{srlt.nativeplace}}</div><div ng-if="srlt.nativeplace=='null' || srlt.nativeplace=='' ">-</div> </td>
												<td width="180" height="40" style="padding-left: 5px;"><b
													style="font-size: 13px">தற்போதைய இருப்பிடம் </b></td>
												<td width="180" height="40" style="padding-left: 5px;"
													class="font-dark"><div ng-if="srlt.residence!='null' && srlt.residence!='' ">{{srlt.residence}} </div><div ng-if="srlt.residence=='null' || srlt.residence=='' ">-</div></td>
											</tr> 
									<tr>
										<td colspan="4"  class="col_1"  height="60" style="padding-left: 5px;text-align: center;"><span class="label rounded-4x label-warning" style="background-color:#72c02c;width:400px;height:400px">பணம்
									செலுத்தியவுடன் பயோடேட்டா, ஜாதகம், போட்டோ பார்த்துக் கொள்ளலாம்.</span>  
										</td> 
									</tr> 
 								</tbody>
							</table>
							  
						</div>
 
				</div>
				
			</div> -->
		</div> 
		<div class="col-md-12 transbox" style="padding: 15px; font-size: 30px;   " ng-show="nodata">
				<div class="col-md-12 col-sm-12"   
						style="font-size: 30px; color:#ffffff; background-color: #9d426b; border-top-left-radius: 20px; border-top-right-radius: 20px; min-height: 50px;"  >
						<font color="#ffffff">Search Details </font>
						<button type="button" class="btn-u pull-right"  style="margin-top:10px"
	 					ng-click="back()">Back</button>     
					</div><div class="col-md-10" style="padding: 15px;text-align:center; font-size: 30px; float: center;" > 
						Search result not found</div>  
				</div>
				  
		<!-- transbox -->

	</div>
</div>
