
<link rel="stylesheet" href="./assets/css/sky-forms.css">
<link rel="stylesheet" href="./assets/css/custom-sky-forms.css">

<div class="breadcrumbs">
	<div class="container">
		<h1 class="pull-left">Success Story</h1>
<a  href="#/admin" class="btn btn-primary pull-right" style="margin-top: 10px;">Back</a>
	</div>
</div>

<!-- Left Bordered Funny Boxes --> 
<div class="container content-sm" ng-controller="succestoryctrl">
	<form novalidate="novalidate" id="sky-form1" class="sky-form">
	    <header style="color:#666">Success Story entry</header>
	
		<fieldset>
			<div class="row"> 
				<section>
                     <label class="label">Name</label>
                    <label class="input"> <i class="icon-append fa fa-user"></i>
						<input type="text" ng-model="name"    placeholder="Name">
					</label>
                 </section>
 			</div>
		
			<div class="row"> 
				<section>
                     <label class="label">Description</label>
                     <label class="textarea textarea-resizable">
                         <textarea rows="3" ng-model="story"></textarea>
                     </label>
                 </section>
 			</div>

			<div class="row">
				<section>
                     <label class="label">Image </label>
                     <label for="file" class="input input-file">
                         <div class="button"><input type="file" id="imageFile" onchange="this.parentNode.nextSibling.value = this.value">Browse</div><input type="text" readonly="">
                     </label>
                 </section>
 			</div>
			 
		</fieldset>
	<footer>
 		<div  >
			<button type="submit" class="btn-u"  ng-click="saveStory()">Save</button>
 		</div>
 	</footer>		
   	</form>
  		<br>
		<div class="row">
			<div class="  panel panel-red margin-bottom-40">
				<div class="panel-heading">
					<h3 class="panel-title">
						<i class="fa fa-user"></i> Success Story Info
					</h3>
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th>#</th>
								<th>Description</th>
								<th>Image</th>
 								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="succesStorylist in succesStorylist">
								<td>{{$index+1}}</td>
								<td>{{succesStorylist.description}}</td> 
								 <td>{{succesStorylist.imagepath}}</td>
								<td><i class="fa fa-trash-o" aria-hidden="true" ng-click="deleteSuccess(succesStorylist.successtoryid,succesStorylist.imagepath)"></i></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div> 

	<!-- End Left Bordered Funny Boxes -->
</div>
<!--/container-->
