 
    
<div ng-controller="profilectrl">
 <form   class="sky-form">
			<div class="modal-header">
				<button type="button" class="close" ng-click="ok()"  data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel4">Important Message</h4>
  				    
			</div> 
			<div class="modal-body" >
				 
				<div class="row">  
					<div class="col-md-12">   
 						<div class="col-sm-10"> 
							 <img   src="assets/img/notice.jpeg" style="width:500px;height:500px" alt="">

						</div>
 					</div> 
 				</div> 
			</div>  
			 
			<div class="modal-footer">
				<button type="button" class="btn-u btn-u-default"
					data-dismiss="modal" ng-click="ok()" >Close</button> 
 			</div>
  </form>   
  </div>
 